.logo {
  color: #000000;
  font-family: Raleway;
  font-style: bold;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  margin-top: 24px;
  margin-bottom: 25px;
}

.web {
  color: #2196f3;
}

.contact {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.contact:hover {
  color: #2196f3;
}

.envelope-icon {
  margin-right: 10px;
  fill: #757575;
}

.contact:hover .envelope-icon {
  fill: #2196f3;
}

.smartphone-icon {
  margin-right: 10px;
  fill: #757575;
}

.contact:hover .smartphone-icon {
  fill: #2196f3;
}

.section-one {
  background: #2f303a;
  width: 1600px;
  height: 600px;
  max-width: 100%;
  padding-top: 32px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/image-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-top {
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.button-main {
  background: #2196f3;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  cursor: pointer;
  letter-spacing: 0.06em;
  text-align: center;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  padding: 10px 42px;
}

.lorem-ipsum-header {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding-bottom: 10px;
}

.text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.header-two {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 94px;
}

.header-two-section {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.name {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.profession {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding-bottom: 16px;
}

.last-section {
  background: #2f303a;
  height: 252px;
}

.street {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 9px;
}

.logo-footer {
  color: #ffffff;
  font-family: Raleway;
  font-style: bold;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  padding-top: 60px;
}

.address-footer a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  display: block;
}

.address-footer a:hover {
  color: #2196f3;
}

.menu-nav a {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.menu-nav {
  display: flex;
  justify-content: space-between;
  gap: 46px;
}

.nav-list {
  margin-right: 453px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.menu-nav a:hover {
  color: #2196f3;
}

a {
  text-decoration: none;
}

.button-options {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  cursor: pointer;
  border: none;
  width: 121px;
  height: 38px;
  border-radius: 4px;
}

.button-options:hover {
  background: #2196f3;
  color: #ffffff;
}

.button-options:focus {
  background: #2196f3;
  color: #ffffff;
}

.figcaption-name {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  letter-spacing: 0.06em;
}

.figcaption-subname {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 4px;
  padding-left: 24px;
  padding-right: 24px;
  letter-spacing: 0.03em;
}

ul {
  list-style-type: none;
}

menu {
  list-style-type: none;
}

.figure-border:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.buttomm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 200px;
}

.top {
  padding-top: 200px;
  padding-bottom: 280px;
}

.lorem-ipsum-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.what-we-do-image {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0;
}

.team-worker {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0;
}

.team-worker-item {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  background: #ffffff;
}

.image {
  margin: 0;
}

.header-contact {
  display: flex;
  gap: 30px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.footer-address {
  padding-top: 60px;
}

.link-footer {
  padding-top: 20px;
  display: block;
}

.mail-footer {
  padding-bottom: 9px;
}

.portfolio-button {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 34px;
}

.portfolio-image {
  gap: 30px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 30px) / 3);
  justify-content: space-between;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

figure.figure-border {
  margin: 0 auto;
}

.caption {
  background: #ffffff;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.team-block {
  background: #f5f4fa;
}

.icons-lorem {
  margin-bottom: 55px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
}

.icon-social-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-left: 32px;
  margin-right: 32px;
  padding: 0;
  margin-bottom: 30px;
}

.social-icon-color {
  fill: #afb1b8;
  margin: 12px;
}

.social-icon-color:hover,
.social-icon-color:focus {
  fill: #ffffff;
}

.icon-social {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.icon-social:hover,
.icon-social:focus {
  background-color: #2196f3;
}

.icon-social:hover .social-icon-color {
  fill: #ffffff;
}

.header-our-clients {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.our-clients {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0;
}

.icon-logo-color {
  fill: #afb1b8;
}

.icon-logo-item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.icon-logo {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.icon-logo-item:hover {
  border: 1px solid #2196f3;
}

.icon-logo-item:hover .icon-logo-color {
  fill: #2196f3;
}

.social-icon-footer {
  width: 206px;
  height: 80px;
  margin-top: 72px;
  margin-left: 70px;
}

.join-us {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
}

.two-blocks {
  display: flex;
}

.footer-list-icon {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0;
  margin-top: 20px;
}

.footer-icon-item {
  fill: #ffffff;
  margin: 12px;
}

.icon-group-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
}

.icon-group-footer:hover {
  background-color: #2196f3;
}

.icon-background {
  background-color: #f5f4fa;
}
